You will be given an Aspect and two Texts. And your task is to estimate a likelihood value of semantic equivalence of the texts specifically with respect to that aspect.

## Examples
{{aspect_examples}}

## Aspect
{{aspect}}

## Text 1
{{text_1}}

## Text 2
{{text_2}}
