As an expert in "{{context}}", provide a detailed strict semantic comparison between two given texts specifically with respect to the given aspects.
Apply the aspects to the text semantics.

## text_1
{{text_1}}

## text_2
{{text_2}}

## aspects
{{aspects}}
