In a context of "{{context}}".
You're an expert.
You will be given with an Item and Examples.
Your task is to rewrite the item most similarly according to the Examples strictly without changing the Item semantics.

# Item
{{item}}

# Examples
{{examples}}
