Your task is abstractive summarization for a specified Content.
Respond only content in {{language}} language.

# Summarizing strategy
{{summarizing_strategy}}

{{_examples}}
# Content topic
{{content_topic}}

# Content
{{content}}
