Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
Task_description: to create example ontology items for the given Description, Ontology schema and Core ontology.
## Description
{{description}}
## Ontology schema
{{ontology_schema}}
## Basic ontology
{{core_ontology}}

# Information retrieval strategy
## Сontext knowledge specification
{{context_knowledge_specification}}
{{_extra_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
