Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
Task_description: to rewrite a given Content with given constrains
## Content
{{content}}
{{_target_semantic_specification}}

# Information retrieval strategy
## Сontext knowledge specification
{{context_knowledge_specification}}
{{_extra_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
