Your task is to do objective expert review for a given Content.
Respond only content in {{language}} language.

# Review strategy
{{review_strategy}}

{{_examples}}
# Content topic
{{content_topic}}

# Content
{{content}}
