Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
Task_description: to retrieve perspective aspects for a given Concept and specified perspective frame of reference, perspective observer strategy and point of view.
Evaluate the perspective observer strategy and the point of view from a given observer context description.
## Concept
{{concept}}
## Observer context description
{{observer_context_description}}
# Information retrieval strategy
## Frame of reference
{{frame_of_reference}}
{{_extra_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
