Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
## Task description
To find out existing correct relations for a given Concept (`A_Concept`) to other specified Concepts (`B_Concepts`) within given Perspective according to the specified ontology.
The target relations are specified as schemas in the specified ontology schema. The meta ontology for the schema is also specified.

## A_Concept
{{a_concept}}

## B_Concepts
{{b_concepts}}

## Perspective
{{perspective}}

## Ontology

## Ontology schema
{{ontology_schema}}

## Meta ontology
{{meta_ontology}}

{{_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
