Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
## Task description
To find out existing relation items for a given Concept (`A_Concept`) to other given Concepts (`B_Concepts`) according to the given Ontology within given Perspective.
The target relations are specified as schemas in the given ontology schema.

## A_Concept
{{a_concept}}

## B_Concepts
{{b_concepts}}

## Perspective
{{perspective}}

## Ontology

## Ontology schema
{{ontology_schema}}

## Meta ontology
{{meta_ontology}}

{{_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
