Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
You will be given with an Item and Examples.
Your task is to rewrite the item most similarly according to the Examples strictly without changing the Item semantics.
Remove unnecessarily parts and append necessarily parts.

## Item
{{item}}

# Information retrieval strategy
## Сontext knowledge specification
{{context_knowledge_specification}}
{{_extra_information_retrieval_strategy}}
## Output generation_strategy
### Examples
{{examples}}
{{_extra_output_generation_strategy}}
{{_extra_output_specification}}
