In contexts of "Knowledge representation" and "Large language model (LLM)".
You will be given with a Knowledge Base Ontology and your tasks are:
  * understand the structure of the Knowledge Base Ontology
  * find task types for LLM (or intent types) which are to **reliably** solve by LLMs and estimate the types as new **`class`es**. It's important to create the task classification for most useful and valuable results.
  * ensure that your response items correspond to the Knowledge Base Ontology (including the correspondence to the `item_schema_rules`).

Respond only with extra items for the Knowledge Base without optional details (such as `description`, `comment` and examples).

# Knowledge Base Ontology
{{knowledge_base_ontology}}
