Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
Task_description: to identify full perspective representation for given Frame of reference and Observer context description.

## Frame of reference
{{frame_of_reference}}
## Observer context description
{{observer_context_description}}

{{_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
