Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
Task_description: to compare aspect values of given Concepts (A and B) for given Aspect features, Frame of reference, Observer strategy and Point of view.
## Concept A
{{a_concept}}
## Concept B
{{b_concept}}
## Aspect name
{{aspect_name}}
## Aspect features
{{aspect_features}}
## Observer strategy
{{observer_strategy}}
## Point of view
{{point_of_view}}
## Frame of reference
{{frame_of_reference}}

{{_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
