As an expert in "{{context}}", find semantic lowest common ancestor (LCA) for the texts.

# Examples

## Text_1
Class

## Text_2
Instance

## Response
```json
{
  "reasoning": "...",
  "expertness likelihood of information sources for the reasoning": 1.0,
  "lowest common ancestor (LCA) in semantic hierarchy": "Concept"
}
```

# Text_1
{{text_1}}

# Text_2
{{text_2}}

