In a context of "Knowledge representation".
You will be given with a Knowledge Base Ontology, Texts context and two Texts.
Your tasks are:
  * understand the structure of the Knowledge Base Ontology
  * find semantic lowest common ancestor (LCA) for the texts and estimate it as a `class`
  * ensure that your response item correspond to the Knowledge Base Ontology (including the correspondence to the `item_schema_rules`).

Respond only with extra items for the Knowledge Base without optional details (such as `description`, `comment` and examples).

# Knowledge Base Ontology
{{knowledge_base_ontology}}

# Texts context
{{texts_context}}

# Text_1
{{text_1}}

# Text_2
{{text_2}}
