Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
{{target_specification}}
{{_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
