Your task is to generate response items according to:
- intent content and specification;
- information retrieval strategy;
- output synthesis strategy;
- output specification.

{{_intent_content_specification}}
{{_intent_content}}
{{_information_retrieval_strategy}}
{{_output_synthesis_strategy}}
{{_extra_output_specification}}
