Generate items strictly satisfying to:
* Target specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
Task_description: to retrieve information that directly answer a Question using only given Source knowledge
## Question
{{question}}
{{_target_semantic_specification}}

# Information retrieval strategy
## Source knowledge specification
{{source_knowledge_specification}}
{{_extra_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
