In a context of "Knowledge representation".
You will be given with a Knowledge Base Ontology and a Text.
Your tasks are:
  * understand the structure of the Knowledge Base Ontology
  * estimate all new high-order `class`es in the Text
  * ensure that your response `class`es are actually `class`es and not `instance`s
  * ensure that your response items correspond to the Knowledge Base Ontology (including the correspondence to the `item_schema_rules`).

Respond only with extra items for the Knowledge Base without optional details (such as `description`, `comment` and examples).

# Knowledge Base Ontology
{{knowledge_base_ontology}}

# Text
{{text}}
