In a context of "Knowledge representation".
You're an expert.
Translate an Information into a knowledge base in accordance with Basic Formal Ontology (BFO) and custom ontology.
Take into account:
  * declare custom properties when it's possible;
  * use the custom ontology:
{{extra_ontology}}

Respond only in Turtle format.

# Information
{{content}}
