Translate an information into a knowledge base in accordance with OWL Basic Formal Ontology (BFO) and custom ontology.
Take into account:
* all json values should be written as instances
* all instance classes and properties should be specified
* don't guess about data, don't add guested information and use data values as is
* don't lose information.

# The custom ontology:
```ttl
{{difference_ontology}}
```

# The information
```json
{{information}}
```
