Your task is to identify a term for a given Term description.

{{_retrieval_specification}}
{{_extra_generation_specification}}
{{_intent_content_specification}}
# Term description
{{term_description}}

{{_extra_output_specification}}