Generate items strictly satisfying to:
* intent specification;
* information retrieval strategy;
* output generation strategy;
* output specification.

# Intent
Task_type: information retrieval

## Target item topic
{{target_item_topic}}

## Target item description
{{target_item_description}}


{{_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
