Your task is information retrieval based on a given "Target item description".

# Target item topic
{{target_item_topic}}

# Target item description
{{target_item_description}}

{{_datasource_specification}}
{{_retrieval_strategy}}
{{_extra_output_specification}}
{{_examples}}
