Your task is to generate relevant examples based on a given "Target example description".

# Target example topic
{{target_example_topic}}

# Target example description
{{target_example_description}}

{{_extra_output_specification}}
{{_generation_strategy}}
{{_examples}}
