Your task is to do aspect based analysis for a specified Content.

{{_extra_output_specification}}
{{_analysis_scope}}
{{_analysis_strategy}}
{{_examples}}
# Content topic
{{content_topic}}

# Content
{{content}}
