As an expert in "{{context}}", find semantic lowest common ancestor (LCA) for the texts.

## Examples

### text_1
Class

### text_2
Instance

### Response
```json
{
  "reasoning": "...",
  "expertness of information sources for the reasoning": 1.0,
  "lowest common ancestor (LCA) in semantic hierarchy": "Concept"
}
```

## text_1
{{a_text}}

## text_2
{{b_text}}

## Response