In a context of "Knowledge representation".
You will be given with a Knowledge Base Ontology, Texts context and two Texts.
Your task is to compare the Texts in `thing`s of the Knowledge Base:
  * understand the structure of the Knowledge Base Ontology
  * find `aspect` `class`es for specific and detailed comparison for the texts
  * estimate `aspect comparison` `instance`s for specific and detailed comparison for the texts
  * ensure that your response item correspond to the Knowledge Base Ontology (including the correspondence to the `item_schema_rules`).

Respond only with extra items for the Knowledge Base without optional details (such as `description`, `comment` and examples).

# Knowledge Base Ontology
{{knowledge_base_ontology}}

# Texts context
{{texts_context}}

# Text_1
{{text_1}}

# Text_2
{{text_2}}
