Your task is aspect based devergence analysis for given Left item and Right item.

{{_analysis_strategy}}
{{_examples}}
# Items topic
{{items_topic}}

# Left item
{{left_item}}

# Right item
{{right_item}}

{{_extra_output_specification}}