In a context of "Knowledge representation".
You will be given with a Knowledge Base Ontology and a Text.
Your tasks are:
  * understand the structure of the Knowledge Base Ontology
  * translate by step-by-step the information from the Text into the Knowledge Base items:
    * estimate high-level `instance`s
    * estimate the property values in the `instance`s
    * ensure that every part of the information in the Text is translated
* ensure that your response items correspond to the Knowledge Base Ontology.

Respond only with extra items for the Knowledge Base in YAML without optional details (such as `description`, `comment` and examples).
If you cannot respond with a complete and confident response, respond with `[]`.

# Knowledge Base Ontology

{{knowledge_base_ontology}}

# Text

{{text}}