Generate items strictly satisfying to:
* Target specification
* Сontext knowledge specification
* Information retrieval strategy
* Output generation strategy
* Output specification.

# Target specification
{{target_specification}}

# Сontext knowledge specification
{{context_knowledge_specification}}

{{_information_retrieval_strategy}}
{{_output_generation_strategy}}
{{_extra_output_specification}}
